.u-section-9-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-9-1 .u-group-1 {
  width: 800px;
  min-height: 586px;
  margin: 60px auto;
}

.u-section-9-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9-1 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 0;
}

.u-section-9-1 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/K-9.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 245px;
}

.u-section-9-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 0 0;
}

.u-section-9-1 .u-text-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-9-1 .u-group-1 {
    width: 720px;
  }

  .u-section-9-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-9-1 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-9-1 .u-group-1 {
    width: 540px;
  }

  .u-section-9-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-9-1 .u-group-1 {
    width: 340px;
    min-height: 983px;
  }

  .u-section-9-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-9-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-9-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-9-2 .u-sheet-1 {
  min-height: 677px;
}

.u-section-9-2 .u-group-1 {
  width: 800px;
  min-height: 736px;
  margin: 60px auto;
}

.u-section-9-2 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-9-2 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 0 22px 0 0;
}

.u-section-9-2 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/image00009.jpeg");
  background-position: 50% 50%;
  margin: 60px auto 0 245px;
}

.u-section-9-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 105px 11px 0;
}

.u-section-9-2 .u-text-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-9-2 .u-group-1 {
    width: 720px;
  }

  .u-section-9-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-9-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9-2 .u-text-3 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-9-2 .u-group-1 {
    width: 540px;
  }

  .u-section-9-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-9-2 .u-group-1 {
    width: 340px;
    min-height: 983px;
  }

  .u-section-9-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-9-2 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-9-2 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-9-3 .u-sheet-1 {
  min-height: 677px;
}

.u-section-9-3 .u-group-1 {
  width: 800px;
  min-height: 755px;
  margin: 60px auto;
}

.u-section-9-3 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-9-3 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 13px 22px 0 0;
}

.u-section-9-3 .u-image-1 {
  width: 237px;
  height: 237px;
  background-image: url("images/DSC_0845.JPG");
  background-position: 50% 50%;
  margin: 60px 280px 0 245px;
}

.u-section-9-3 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 48px 22px 0 0;
}

.u-section-9-3 .u-text-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 22px 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-9-3 .u-group-1 {
    width: 720px;
  }

  .u-section-9-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9-3 .u-image-1 {
    margin-left: auto;
    margin-right: 240px;
  }

  .u-section-9-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9-3 .u-text-3 {
    font-size: 3rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-9-3 .u-group-1 {
    width: 540px;
  }

  .u-section-9-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9-3 .u-image-1 {
    margin-right: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-9-3 .u-group-1 {
    width: 340px;
    min-height: 983px;
  }

  .u-section-9-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-9-3 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-9-3 .u-image-1 {
    margin-right: 59px;
  }

  .u-section-9-3 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-13-1 .u-sheet-1 {
  min-height: 775px;
}

.u-section-13-1 .u-group-1 {
  width: 800px;
  min-height: 655px;
  margin: 60px auto;
}

.u-section-13-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-13-1 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 67px 0 0;
}

.u-section-13-1 .u-image-1 {
  width: 355px;
  height: 188px;
  margin: 10px auto 0 167px;
}

.u-section-13-1 .u-text-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-13-1 .u-image-1 {
    height: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-13-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-13-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-13-1 .u-group-1 {
    width: 540px;
  }

  .u-section-13-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13-1 .u-image-1 {
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-13-1 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-13-1 .u-group-1 {
    width: 340px;
  }

  .u-section-13-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-13-1 .u-image-1 {
    width: 320px;
    height: 170px;
    margin-left: 0;
  }

  .u-section-13-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-13-2 .u-sheet-1 {
  min-height: 775px;
}

.u-section-13-2 .u-group-1 {
  width: 800px;
  min-height: 586px;
  margin: 60px auto;
}

.u-section-13-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13-2 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 0;
}

.u-section-13-2 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/zIpc4aXeQmHCop_E0u5sXPPlpNGl40oj.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 245px;
}

.u-section-13-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 0 0;
}

.u-section-13-2 .u-text-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13-2 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-13-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-13-2 .u-group-1 {
    width: 720px;
  }

  .u-section-13-2 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-13-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-13-2 .u-group-1 {
    width: 540px;
  }

  .u-section-13-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13-2 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-13-2 .u-group-1 {
    width: 340px;
    min-height: 875px;
    margin-top: 63px;
    margin-left: -3px;
  }

  .u-section-13-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 84px;
  }

  .u-section-13-2 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-13-2 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-13-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-13-3 .u-group-1 {
  width: 800px;
  min-height: 632px;
  margin: 60px auto;
}

.u-section-13-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-13-3 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 67px 0 0;
}

.u-section-13-3 .u-image-1 {
  width: 441px;
  height: 140px;
  margin: 66px auto 0;
}

.u-section-13-3 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 60px 0 0;
}

.u-section-13-3 .u-text-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13-3 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-13-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-13-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13-3 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-13-3 .u-group-1 {
    width: 540px;
  }

  .u-section-13-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13-3 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-13-3 .u-group-1 {
    width: 340px;
  }

  .u-section-13-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-13-3 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-13-3 .u-image-1 {
    width: 320px;
    height: 102px;
  }

  .u-section-13-3 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-13-4 .u-sheet-1 {
  min-height: 775px;
}

.u-section-13-4 .u-group-1 {
  width: 800px;
  min-height: 586px;
  margin: 60px auto;
}

.u-section-13-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13-4 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 0;
}

.u-section-13-4 .u-image-1 {
  width: 370px;
  height: 213px;
  margin: 44px auto 0;
}

.u-section-13-4 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 44px 0 0;
}

.u-section-13-4 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  background-image: none;
  font-size: 3rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13-4 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-13-4 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-13-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13-4 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-13-4 .u-group-1 {
    width: 540px;
  }

  .u-section-13-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13-4 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-13-4 .u-group-1 {
    min-height: 594px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-13-4 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-13-4 .u-image-1 {
    width: 320px;
    height: 184px;
  }

  .u-section-13-4 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-13-5 .u-sheet-1 {
  min-height: 775px;
}

.u-section-13-5 .u-group-1 {
  width: 800px;
  min-height: 586px;
  margin: 60px auto;
}

.u-section-13-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13-5 .u-text-1 {
  line-height: 2;
  font-weight: 400;
  margin: 0;
}

.u-section-13-5 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/10700453-0.jpeg");
  background-position: 50% 50%;
  margin: 30px auto 0 245px;
}

.u-section-13-5 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 0 0;
}

.u-section-13-5 .u-text-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13-5 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-13-5 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-13-5 .u-group-1 {
    width: 720px;
  }

  .u-section-13-5 .u-image-1 {
    margin-left: auto;
  }

  .u-section-13-5 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-13-5 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-13-5 .u-group-1 {
    width: 540px;
  }

  .u-section-13-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13-5 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-13-5 .u-group-1 {
    min-height: 557px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-13-5 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-13-5 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/118230307_3247151622073235_1520341208227288490_oAradenim.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-group-1 {
  width: 610px;
  min-height: 484px;
  margin: 116px auto 60px -40px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 12px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8.125rem;
  line-height: 0.8;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 29px 228px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-group-1 {
    width: 522px;
    min-height: 528px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.5rem;
    width: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 190px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-group-1 {
    width: 437px;
    min-height: 420px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    line-height: 1;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 57.2% 25.53%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-group-1 {
    width: 323px;
    min-height: 334px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 105px;
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 57.61% 20.64%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-group-1 {
    width: 315px;
    min-height: 483px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 60px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.25rem;
  margin: 254px auto 0 22px;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 17px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.8;
  text-transform: none;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-link-1 {
  border-style: solid;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 280px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0 207px 0 10px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px -5px 0 5px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 17px auto 0 5px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 280px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0 231px 0 10px;
}

.u-section-2 .u-text-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px -10px 0 10px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  margin: 17px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 231px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 231px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 115px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 266px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: url("images/pexelsphoto4128402.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 579px;
}

.u-section-3 .u-group-1 {
  width: 610px;
  min-height: 536px;
  margin: 1px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 12px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 45px 30px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8.125rem;
  line-height: 0.8;
  margin: 20px 30px 0 -28px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 13px 70px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-group-1 {
    width: 522px;
  }

  .u-section-3 .u-text-2 {
    font-size: 7.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-group-1 {
    width: 437px;
    min-height: 387px;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
    line-height: 1;
  }

  .u-section-3 .u-text-3 {
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    background-position: 57.2% 25.53%;
    background-size: auto 115%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-group-1 {
    width: 323px;
    min-height: 334px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 105px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    background-position: 57.61% 20.64%;
    background-size: auto 125%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-3 .u-group-1 {
    width: 280px;
    min-height: 688px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
    margin-left: -31px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 887px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-14 {
  margin: 20px 155px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 666px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.25rem;
  margin: 326px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 23px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 275px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-5 .u-text-3 {
  letter-spacing: 0;
  line-height: 1.8;
  text-transform: none;
  margin: 0;
}

.u-section-5 .u-link-1 {
  border-style: solid;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0 219px 0 10px;
}

.u-section-5 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 17px -10px 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 285px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0 219px 0 10px;
}

.u-section-5 .u-text-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 17px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 235px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 235px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 115px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 858px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1081px;
  margin: 0 auto 0 13px;
}

.u-section-6 .u-image-1 {
  min-height: 858px;
  background-image: url("images/Plunge_11.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 4px 0 0;
}

.u-section-6 .u-text-2 {
  font-style: normal;
  margin: 20px 4px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 264px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 243px 0 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 19px 5px 0 1px;
}

.u-section-6 .u-text-4 {
  font-style: normal;
  margin: 20px 6px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 342px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(128, 128, 128) !important;
  margin: 0 243px 0 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 19px 2px 0;
}

.u-section-6 .u-text-6 {
  font-style: normal;
  margin: 28px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 631px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 210px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 205px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 210px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 205px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 483px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 145px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 530px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 334px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 89px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 89px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1158px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1078px;
  margin: 4px auto 0 13px;
}

.u-section-8 .u-image-1 {
  min-height: 1158px;
  background-image: url("images/Plung_7MERCURY.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  letter-spacing: 12px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 380px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 49px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 231px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-text-4 {
  font-style: normal;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-8 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 243px 0 0;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 19px 5px 0 1px;
}

.u-section-8 .u-text-6 {
  font-style: normal;
  margin: 20px 6px 0 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 332px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-8 {
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 1010px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 210px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 205px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 210px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 774px;
  }

  .u-section-8 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 145px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 850px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 535px;
  }

  .u-section-8 .u-icon-2 {
    margin-right: 89px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.5;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.5;
  }
}.u-block-e75e-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-e75e-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-e75e-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}.u-section-10 {
  background-image: url("images/211525759_339777520978266_4496802226641457974_ncrop.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 917px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 342px;
  margin: 0 47px 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 340px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  background-position: 0% 0%;
  min-height: 318px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 32px 0 0;
}

.u-section-10 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  background-position: 0% 0%;
  min-height: 259px;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 29px 0 0;
}

.u-section-10 .u-text-6 {
  font-size: 0.875rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 166px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-icon-1 {
    position: relative;
  }

  .u-section-10 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-10 .u-text-2 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-10 .u-text-3 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-10 .u-text-4 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-icon-3 {
    position: relative;
  }

  .u-section-10 .u-text-5 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-10 .u-text-6 {
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 369px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    background-position: 71.6% 100%;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 {
    background-position: 56.05% 100%;
    min-height: 21px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 338px;
    margin-top: 60px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 298px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 10px;
}.u-section-12 {
  background-image: url("images/Plunge_13.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 860px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 326px;
  margin: 0 auto 0 8px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 292px;
  background-image: none;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-layout-cell-2 {
  background-position: 0% 0%;
  min-height: 296px;
  background-image: none;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 32px 0 0;
}

.u-section-12 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-12 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-layout-cell-3 {
  background-position: 0% 0%;
  min-height: 259px;
  background-image: none;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 29px 0 0;
}

.u-section-12 .u-text-6 {
  font-size: 0.875rem;
  margin: 21px 0 0;
}

.u-section-12 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-12 {
    min-height: 166px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-icon-1 {
    position: relative;
  }

  .u-section-12 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-12 .u-text-2 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-12 .u-text-3 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-12 .u-text-4 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-icon-3 {
    position: relative;
  }

  .u-section-12 .u-text-5 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-12 .u-text-6 {
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-12 {
    min-height: 369px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 {
    background-position: 71.6% 100%;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 {
    background-position: 56.05% 100%;
    min-height: 21px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 338px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 298px;
  }
}.u-block-da6d-5 {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 495px);
  bottom: -3px;
}

.u-block-da6d-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-da6d-6 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-da6d-5 {
    right: calc(((100% - 940px) / 2)  + 395px);
  }
}

@media (max-width: 991px) {
  .u-block-da6d-5 {
    right: calc(((100% - 720px) / 2)  + 285px);
  }
}

@media (max-width: 767px) {
  .u-block-da6d-5 {
    right: calc(((100% - 540px) / 2)  + 195px);
  }
}

@media (max-width: 575px) {
  .u-block-da6d-5 {
    right: calc(((100% - 340px) / 2)  + 95px);
  }
}.u-section-14 .u-sheet-1 {
  min-height: 660px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 585px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-14 .u-form-1 {
  height: 437px;
  margin: 20px -60px 0 0;
}

.u-section-14 .u-btn-1 {
  border-style: solid;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 675px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-14 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 12px;
  margin: 82px auto 0 30px;
}

.u-section-14 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 30px auto 0 30px;
}

.u-section-14 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 174px 0 auto;
}

.u-section-14 .u-text-3 {
  margin: 20px auto 0 30px;
}

.u-section-14 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-14 .u-btn-3 {
  background-image: none;
  margin: -50px 125px 0 auto;
  padding: 0;
}

.u-section-14 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 30px auto 0 30px;
}

.u-section-14 .u-text-4 {
  margin: 20px auto 0 30px;
}

.u-section-14 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-14 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-14 .u-icon-2 {
    margin-right: 143px;
  }

  .u-section-14 .u-btn-3 {
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-14 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-14 .u-icon-2 {
    margin-right: 110px;
  }

  .u-section-14 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1.5;
  }
}